.block-build {
  background-color: #012F34;
  background-image: url("../img/bg-pattern-home-3.svg");
  background-repeat: no-repeat;
  background-position: right -100px bottom;
}

.block-build__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 140px;
}

.block-build__title {
  position: relative;
  z-index: 1; 
  width: 100%;
  max-width: 445px;
  margin-right: 120px;

  h2 {
    margin-top: 54px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
  }
}

.block-build__text-content {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 445px;
  list-style-type: none;
}

.block-build__text-content-item {
  position: relative;
  z-index: 1;
  margin-bottom: 32px;

  h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
  }

  p {
    margin-top: 0;
    font-size: 15px;
    line-height: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: inline-flex;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(-120%);
  }
}

.icon-person::before {
  background-image: url("../img/icon-person.svg");
}

.icon-cog::before {
  background-image: url("../img/icon-cog.svg");
}

.icon-chart::before {
  background-image: url("../img/icon-chart.svg");
}

@include breakpoint-down (950px) {
  .block-build {
    background-position: top right -100px;
  }
}

@include breakpoint-down (860px) {
  .block-build__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .block-build__title {
    max-width: 615px;
    margin: 0;
    text-align: left;
  }
}

@include breakpoint-down (780px) {
  .block-build__title {

    h2 {
      font-size: 35px;
      line-height: 35px;
    }
  }
}

@include breakpoint-down (650px) {
  .block-build__text-content {
    max-width: 100%;
  }
  .block-build__text-content-item {
    text-align: center;

    &::before {
      position: static;
      transform: translateX(5%);
    }
  }
}

@include breakpoint-down (580px) {
  .block-build__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: flex-start;
  }

  .block-build__title {
    max-width: 80%;

    h2 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}