.delivery {
  color: #fff;
  background-color: #004047;
  background-image: url("../img/bg-pattern-home-5.svg"),
  url("../img/bg-pattern-home-4-about-3.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right bottom, top left;
}

.delivery__wrapper {
  position: relative;
  z-index: 1;
  padding-top: 132px;
  padding-bottom: 132px;
}

.delivery__title {
  margin-top: 0;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.delivery__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.delivery__item {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  max-width: 350px;
  text-align: center;

  blockquote {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    margin: 0;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
  }

  span {
    color: #79C8C7;
    font-size: 18px;
    left: 28px;
  }

  p {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-style: italic;
    font-size: 13px;
    line-height: 18px;
  }

  img {
    display: inline-block;
    border: 2px solid #c4fffe;
    border-radius: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    width: 67px;
    height: 56px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    transform: translate(-50%, -60%);
  }
}
