.header__hero {
  position: relative;
  z-index: 1;
  background-color: #014E56;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 0;
    width: 200px;
    height: 200px;
    background-image: url("../img/bg-pattern-home-1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translate(-50%, -50%);
  }
}

.header__hero-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 255px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 358px;
    height: 100px;
    background-image: url("../img/bg-pattern-home-2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.header__hero-title {
  position: relative;
  z-index: 1;
  margin-right: 30px;

  h1 {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;

    span {
      color: #F67E7E;
    }
  }
}

.header__hero-text {
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  max-width: 445px;
  text-align: left;

  p {
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
  }
}

@include breakpoint-down (1360px) {
  .header__hero::before {
    top: 30%;
  }

  .header__hero-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__hero-title {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__hero-text {
    max-width: 670px;
    align-items: flex-start;
    text-align: center;

    &::before {
      display: none;
    }
  }
}

@include breakpoint-down (950px) {
  .header__hero {

    &::before {
      display: none;
    }
  }

  .header__hero-wrapper {

    &::after {
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}

@include breakpoint-down (780px) {
  .header__hero-title {
    
    h1 {
      font-size: 64px;
      line-height: 56px;
    }
  }

  .header__hero-text {
    max-width: 500px;
  }
}

@include breakpoint-down (580px) {
  .header__hero-wrapper {
    padding-top: 80px;
    padding-bottom: 180px;
  }

  .header__hero-title {

    h1 {
      font-size: 50px;
    }
  }
}